.alert {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    background-color: var(--color-primary);
    padding: var(--space-sm) var(--space-md);
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-weight: var(--fw-regular);
    border-radius: var(--border-radius-lg);
}

.alert--success {
    background-color: var(--color-success);
}

.alert--danger {
    background-color: var(--color-danger);
}

.alert--info {
    background-color: var(--color-primary);
}

.alert__icon {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert__content {
    flex: 1;
}

.alert__close {
    background: transparent;
    border: none;
    color: var(--color-white);
    font-size: 1.25rem;
    cursor: pointer;
    padding: var(--space-xs);
    transition: var(--transition-default);
}

.alert__close:hover {
    color: var(--color-dark);
}
